:root {
  --c-warm-vanilla: #fdf8ee;
  --c-jet-black: #222;
  --c-white: #fff;
  --c-grape-purple: #4d2c5e;
  --c-burnt-orange: #ffa135;
  --c-stone-gray: #acacac;
  --c-milky-white: #f9f9f9;
  --c-silver-gray: #b7b7b7;
  --c-black: #000;
  --c-charcoal-gray: #353535;
  --c-ark-navy-blue: #050c26;
  --c-gray-100: #f5f5f5;
  --c-deep-navy: #00052e;
}

$c-warm-vanilla: #fdf8ee;
$c-jet-black: #222;
$c-white: #fff;
$c-grape-purple: #4d2c5e;
$c-burnt-orange: #ffa135;
$c-stone-gray: #acacac;
$c-milky-white: #f9f9f9;
$c-silver-gray: #b7b7b7;
$c-black: #000;
$c-charcoal-gray: #353535;
$c-ark-navy-blue: #050c26;
$c-gray-100: #f5f5f5;
$c-deep-navy: #00052e;
