@import "variables";
@import "mixins";

// ... باقي الملفات

header {
  background-color: var(--c-warm-vanilla);
  height: 120px;
}

a {
  color: var(--c-jet-black);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.button button {
  color: var(--c-white);
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 218px;
  background: var(--c-grape-purple);
  width: 191px;
  height: 65px;
}

.smart-choice {
  position: relative;
}

.gp {
  background: url(../img/m-m-a/bakgrond.svg) no-repeat right
    var(--c-warm-vanilla);
}

h1 {
  color: var(--c-deep-navy);
  font-family: Roboto;
  font-size: 69px;
  font-style: normal;
  font-weight: 800;
  max-width: 586px;
}

span {
  color: var(--c-burnt-orange);
  font-family: Roboto;
  font-size: 69px;
  font-style: normal;
  font-weight: 800;
  line-height: 135%;
}

p {
  color: var(--c-stone-gray);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  width: 586px;
  padding-bottom: 50px;
}

input {
  width: 100%;
  width: 565px;
  height: 79px;
  border-radius: 96px;
  background: var(--c-white);
  border: none;
  padding-left: 20px;
  color: var(--c-ark-navy-blue);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

button {
  background: var(--c-grape-purple);
  width: 158px;
  height: 69px;
  border-radius: 96px;
  border: 1px solid var(--c-grape-purple);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: 6px;
  transition: all 0.5s;
  color: var(--c-white);
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.skills {
  padding: 0 15px;
  position: absolute;
  width: 100%;
  bottom: -138px;
}

.container {
  max-width: 1432px;
  min-height: 277px;
  border-radius: 14px;
  width: 100%;
  background: var(--c-grape-purple);
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 30px;
}

h2 {
  color: var(--c-white);
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-h-p p {
  color: var(--c-milky-white);
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.our {
  margin-top: 210px;
  margin-bottom: 154px;
  position: relative;
}

h2 {
  color: var(--c-black);
  font-size: calc(25px + 1.31vw);
  font-weight: 600;
  line-height: 1.4em;
}

p {
  color: var(--c-stone-gray);
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 65px;
}

article {
  padding: 13px;
  padding-bottom: 50px;
  border-radius: 14px;
  background: var(--c-white);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

a {
  position: absolute;
  left: 50%;
  translate: -50% 0;
  bottom: -27.5px;
  width: 207px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 96px;
  background: var(--c-burnt-orange);
  border: 2px solid var(--c-burnt-orange);
  color: var(--c-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.3s;
}

a:hover {
  background: var(--c-white);
  color: var(--c-burnt-orange);
}

h6 {
  color: var(--c-silver-gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h4 {
  color: var(--c-black);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 20px;
}

h5 {
  color: var(--c-burnt-orange);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

hr {
  border: 0;
  border-bottom: 1px dashed var(--c-silver-gray);
  background: transparent;
}

.icon {
  display: flex;
  align-items: center;
  gap: 7px;
  color: var(--c-silver-gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.3s;
}
.icon:hover {
  color: var(--c-black);
}

.our .row article .text .star .stars span:hover,
.our .row article .text .star .stars .active {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_4_3459)'%3E%3Cpath d='M8.77243 0.829716L10.577 4.48629C10.7025 4.7406 10.9451 4.91682 11.2258 4.95754L15.2612 5.54394C15.9681 5.64674 16.2501 6.51516 15.7388 7.01345L12.8188 9.85967C12.6159 10.0576 12.5231 10.3429 12.5712 10.6223L13.2604 14.6413C13.3812 15.3452 12.6423 15.8819 12.0101 15.5498L8.40097 13.6524C8.14999 13.5206 7.84994 13.5206 7.59896 13.6524L3.98978 15.5498C3.35766 15.8822 2.61874 15.3452 2.73955 14.6413L3.42875 10.6223C3.47681 10.3429 3.38403 10.0576 3.18111 9.85967L0.261123 7.01345C-0.250182 6.51482 0.0318366 5.6464 0.73872 5.54394L4.7741 4.95754C5.05478 4.91682 5.29742 4.7406 5.42291 4.48629L7.2275 0.829716C7.54323 0.189248 8.45637 0.189248 8.77243 0.829716Z' fill='%23FFA135'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4_3459'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.soo {
  margin-top: 50px;
  margin-bottom: 80px;
  border-radius: 960px;
  background: url(../img/m.o.m/Ellipse\ 27.svg) no-repeat;
}

.E {
  color: var(--c-ark-navy-blue);
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-transform: capitalize;
  text-align: center;
  padding-top: 130px;
  font-size: 40px;
  font-weight: 600;
  line-height: 167.5%;
}

.q {
  text-align: center;
  padding-top: 9px;
  padding-bottom: 82px;
  color: var(--c-stone-gray);
  font-size: 20px;
  font-weight: 500;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tt {
  color: var(--c-stone-gray);
  font-family: Roboto;
  font-size: 19px;
  font-weight: 400;
  line-height: 156.5%;
  gap: 26px;
}

h5 {
  padding-top: 24px;
  font-family: Poppins;
  color: var(--c-charcoal-gray);
  font-size: 17px;
  font-weight: 500;
  line-height: 156.5%;
  letter-spacing: 0.34px;
}

p {
  color: var(--c-silver-gray);
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 156.5%;
  letter-spacing: 0.26px;
}

.our-tracks {
  h2 {
    color: var(--c-black);
    font-size: calc(25px + 1.31vw);
    font-weight: 600;
    line-height: 1.4em;
  }
}

p {
  color: var(--c-stone-gray);
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 65px;
}

.our-tracks .row .text-col article {
  border-radius: 14px;
  background: var(--c-white);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
  padding: 19px 13px;
}

h4 {
  color: var(--c-black);
  font-size: 20px;
  font-weight: 500;
}

p {
  color: var(--c-stone-gray);
  font-size: 16px;
  font-weight: 500;
}

article > p {
  color: var(--c-silver-gray);
  font-size: 18px;
  font-weight: 400;
  line-height: 137.5%;
}

.engineering-physics h3 {
  color: var(--c-burnt-orange);
  font-size: 18px;
  font-weight: 500;
}

.insta-linkin a {
  padding: 8px;
  background: var(--c-gray-100);
}

.subscribe .container {
  padding: 0px 48px;
}

.subscribe_frame {
  width: 100%;
  min-height: 429px;
  margin-top: 159px;
  margin-bottom: 126px;
  background: url(../img/m-a-k/subscribe-group.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 15px;
}

.subscribe_text_group h1 {
  color: var(--c-white);
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.8px;
  margin-bottom: 13px;
}

p {
  color: var(--c-white);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 41px;
}

input {
  width: 100%;
  max-width: 610px;
  height: 80px;
  padding-left: 40px;
  flex-shrink: 0;
  border-radius: 62px;
  border: none;
  background: var(--c-white);
  color: var(--c-silver-gray);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  outline: none;
}

button {
  width: 190px;
  height: 66px;
  top: 50%;
  right: 7px;
  position: absolute;
  translate: 0 -50%;
  color: var(--c-white);
  font-family: Poppins;
  font-size: 20px;
  border-radius: 62px;
  border: 0px;
  background: var(--c-burnt-orange);
}

footer {
  background: var(--c-warm-vanilla);
}

p {
  max-width: 318px;
  color: var(--c-charcoal-gray);
  text-align: justify;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}

h6 {
  color: var(--c-deep-navy);
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 29px;
}

a {
  color: var(--c-charcoal-gray);
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  hr {
    color: var(--c-silver-gray);
  }
}

.copyright {
  width: 100%;
  padding: 25px 15px;
  text-align: center;
}

footer .copyright p {
  width: 100%;
  text-align: center;
  color: var(--c-charcoal-gray);
  font-family: Roboto;
  font-size: 19px;
  font-weight: 400;
}
