/* import-css */
/* #region import */

/* Fonts-Css */
@import url(./fonts.css);

/* Fonts-Css */
@import url(./globals.css);

/* Grid-System */
@import url(./grid-s.css);

/* #endregion import */

/* _____Mahmoud-Magdy______ */
/* #region Mahmoud-Magdy */
header {
  background-color: var(--c-warm-vanilla);
  padding: 54px 0;
}

header .row {
  justify-content: space-between;
}

header .col-auto {
  display: flex;
  gap: 60px;
  align-items: center;
}

header .col-auto .links {
  display: flex;
  gap: 45px;
}

header .col-auto .links a {
  color: var(--c-jet-black);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

header .col-auto .button button {
  color: var(--c-white);
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 218px;
  background: var(--c-grape-purple);
  width: 191px;
  height: 65px;
}

/* #endregion Mahmoud-Magdy */

/* ______Abdo-Mahmoud______ */
/* #region Abdo-Mahmoud */

.our {
  margin-top: 210px;
  position: relative;
}

.our .led {
  position: absolute;
  top: 0;
  left: 81px;
  z-index: -1;
}

.our .arrow {
  position: absolute;
  top: 0;
  right: 23px;
  z-index: -1;
}

.our .headeng-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 9px;
}

.our .headeng-text h2 {
  color: var(--c-black);
  font-size: calc(25px + 1.31vw);
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.our .row article {
  padding: 13px;
  padding-bottom: 50px;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 795px) {
  .our .led,
  .our .arrow {
    display: none;
  }
}

/* #endregion Abdo-Mahmoud */

/* _____Mohamed-Sayed______ */
/* #region Mohamed-Sayed */

/* #endregion Mohamed-Sayed */

/* _____Mohamed-Essam______ */
/* #region Mohamed-Essam */

/* #endregion Mohamed-Essam */

/* ______Mohamed-Abdo______ */
/* #region Mohamed-Abdo */
.subscribe {
  padding: 0px 244px;
}

.subscribe_container {
  border-radius: 14px;
  background: #4d2c5e;
  margin-top: 159px;
  margin-bottom: 126px;
  text-align: center;
}

.subscribe .circle_container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.subscribe_text_group h1 {
  color: var(--c-white);
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.subscribe_text_group p {
  color: var(--c-white);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.subscribe_input_group {
  display: flex;
  border-radius: 62px;
  background: var(--c-white);
}
/* #endregion Mohamed-Abdo */
