/* import-css */
/* #region import */

/* Fonts-Css */
@import url(./fonts.css);

/* Fonts-Css */
@import url(./globals.css);

/* Grid-System */
@import url(./grid-s.css);

/* #endregion import */

/* _____Mahmoud-Magdy______ */
/* #region Mahmoud-Magdy */
header {
  background-color: var(--c-warm-vanilla);
  padding: 54px 0;
}

header .row {
  justify-content: space-between;
}

header .col-auto {
  display: flex;
  gap: 60px;
  align-items: center;
}

header .col-auto .links {
  display: flex;
  gap: 45px;
}

header .col-auto .links a {
  color: var(--c-jet-black);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

header .col-auto .button button {
  color: var(--c-white);
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 218px;
  background: var(--c-grape-purple);
  width: 191px;
  height: 65px;
}

/* #endregion Mahmoud-Magdy */

/* ______Abdo-Mahmoud______ */
/* #region Abdo-Mahmoud */

/* #endregion Abdo-Mahmoud */

/* _____Mohamed-Sayed______ */
/* #region Mohamed-Sayed */

/* #endregion Mohamed-Sayed */

/* _____Mohamed-Essam______ */
/* #region Mohamed-Essam */

/* #endregion Mohamed-Essam */

/* ______Mohamed-Abdo______ */
/* #region Mohamed-Abdo */

/* #endregion Mohamed-Abdo */
